body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

p {
  font-size: 14px;
}

.container {
  padding: 50px 200px;
}
